


<section class="wrapper flex">

	<div class="content">
		
		<div class="text-center">
			<p>
				ようこそ、RamenLogへ!<br>
				このサイトは、全国のラーメン店舗のレビューサイトになります。<br>
				会員でない方も店舗の閲覧はできますが、<br>
				レビューの投稿には会員登録が必要になります。
			</p>

			 <% if user_signed_in? %>
			<%= link_to '店舗を新規登録する',new_shop_path %>
			<% elsif %>
		 <div class="btn-wrapper col-3 mx-auto">
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
          </div>
          <div class="row">
            <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
          </div>
        </div>
      <% end %>
		</div>



	</div>
</section>