<table class="admin_customer_index has_border">
	<thead>
	
		<th>ニックネーム</th>
		
		<th></th>
	</thead>
	<tbody>
		<% users.each do |user| %>
			<tr>
			
				<td><%= user.nickname%></td>
				
				
				
				<td><%= link_to "詳細", user_path(user), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>